.criminal {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    max-width: 15%;
    margin: 15px;
    padding: 5px;
    justify-content: space-evenly;
}

.criminalsContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 4%;
    justify-content: space-between;
    text-align: center;
}

.criminal_text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.dropdownContainer {
    position: relative;
    display: inline-block;

}

.dropdown {
    background-color: lightskyblue;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}